@model IEnumerable<Appteste.Models.Instituicao>
@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Create</title>
    </head>
    <body>
        <form asp-action="Create">
            <div class="form-horizontal">
                <h4>Instituição</h4>
                <hr>
            </div>
        </form>
    </body>
</html>